<% if logged_in? %>
  <div class="center-block">
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  // ログアウト時のUI
  <div class="center jumbotron">
    <h1>我慢する透析より、楽しむ透析。</h1>

    <h2>
      HDeatsに食事を記録して幸福度の高い食生活へ
    </h2>
    <%= link_to "無料会員登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= image_tag "hd.jpg", width: "200", class: "hd" %>

<% end %>