<header class="navbar">
<div class="container">
  <%= link_to "HDeats", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   root_path, id: "menu"%></li>
      <li><%= link_to "Help",   help_path, id: "menu"%></li>
      <li><%= link_to "Log in", '#', id: "menu"%></li>
    </ul>
  </nav>
</div>
</header>